:root {
  --primary-color: #00b80f;
  --dark-color: #033606;
  --light-color: #f4f4f4;
  --danger-color: #c21022;
  --success-color: #81df15;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

html, #root {
  background-color: #acd1af;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: scroll !important;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
    overflow: auto !important;
  }
}





