.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-primary {
  color: var(--primary-color) !important;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.itemLink:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
}